@model List<CoffeShop.Models.urunler>
@{
    ViewBag.Title = "Ürünler";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";

}

@if (TempData["urun"] != null)
{
    <link href="~/Content/admin/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css" rel="stylesheet" />
    <script src="~/Content/admin/plugins/sweetalert2/sweetalert2.min.js"></script>

    <script>
        Swal.fire("Başarılı", " @TempData["urun"] ", 'success');
    </script>
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Ürün Kontrol Modülü</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active">Ürünler</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        @*<h3 class="card-title">Ürünler ile ilgili ekleme, silme ve güncelleme işlemleri bu sayafadan yapılmaktadır.</h3>*@
                        @Html.ActionLink("Yeni Ürün Ekle", "YeniUrun", null, new { @class = "btn btn-primary mx-4" })
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Fotoğraf</th>
                                    <th>Üst Başlık</th>
                                    <th>Başlık</th>
                                    <th>İçerik</th>
                                    <th>Ürün Durum</th>
                                    <th>Ürün Sıra</th>
                                    <th>Ürün Güncelle</th>
                                    <th>Ürün Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var urun in Model)
                                {
                                    <tr>
                                        <td><img src="~/Content/img/@urun.UrunFoto" width="125" /></td>
                                        <td>@urun.UrunUstBaslik</td>
                                        <td>@urun.UrunBaslik</td>
                                        <!-- .içerik_modal -->
                                        <td>
                                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal_@urun.ID">
                                                İçerik
                                            </button>
                                            <!-- .modal -->
                                            <div class="modal fade" id="modal_@urun.ID">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">İçerik</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            @Html.Raw(urun.Icerik)
                                                        </div>
                                                        <div class="modal-footer justify-content-between">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                                                            @*<button type="button" class="btn btn-primary">Save changes</button>*@
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                            <!-- /.modal -->
                                        </td>
                                        <!-- ./içerik_modal -->
                                        <td>
                                            @if (urun.UrunDurum == true)
                                            {
                                                <i class="text-green fas fa-check"></i>
                                            }
                                            else
                                            {
                                                <i class="text-red fas fa-times"></i>
                                            }
                                        </td>
                                        <td>@urun.UrunSira</td>
                                        <td>
                                            @Html.ActionLink("Güncelle", "Guncelle", new { urun.ID }, new { @class = "btn btn-info mx-4" })
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#sil_@urun.ID">
                                                Sil
                                            </button>
                                            <!-- .modal -->
                                            <div class="modal fade" id="sil_@urun.ID">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">İçerik</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h4>Ürünü Silmek İstiyor musunuz?</h4>
                                                        </div>
                                                        <div class="modal-footer justify-content-between">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                                                            @Html.ActionLink("Sil", "Sil", new { urun.ID }, new { @class = "btn btn-danger" })

                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                            <!-- /.modal -->
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Fotoğraf</th>
                                    <th>Üst Başlık</th>
                                    <th>Başlık</th>
                                    <th>İçerik</th>
                                    <th>Ürün Durum</th>
                                    <th>Ürün Sıra</th>
                                    <th>Ürün Güncelle</th>
                                    <th>Ürün Sil</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

@section altTaraf
{
    <!-- DataTables -->
    <script src="~/Content/admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}
